:root {
    --c1: #81D8D0;
    --c2: #4a4549;
    --black: #161616;
    --red: #CF5341;
    --dw: 60rem;
    --href: #0080ff;
    --fonts: 'Questrial', 'Noto Sans TC', sans-serif;
}

// fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');