// 全站設定
* {
    box-sizing: border-box;
    @include selection(#333, #FFF);
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    // scroll-behavior: smooth;
}

body {
    letter-spacing: 1px;
    font-family: var(--fonts);
    color: var(--black);
    background-color: #FFF;
    overflow-x: hidden;
    // -webkit-overflow-scrolling: touch;
    @include scrollbar;
    // animation-name: fadeIn;
    // animation-duration: .75s;
    // animation-fill-mode: both;
    // animation-timing-function: linear;
}

input, 
select, 
textarea, 
button, 
a {
    outline: none;
    font-family: var(--fonts);
}

a {
    color: var(--href);
    text-decoration: none;
}

input, 
select, 
textarea, 
button {
    background-color: transparent;
    border: 0;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ul,
ol,
figure,
p {
    margin: 0;
    padding: 0;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

// 清除浮動
.clearfix {
    @include clearfix;
}

// No-scroll
.no-scroll {
    overflow: hidden;
    height: 100%;
}

// overlay
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
    &.is-active {
        display: block;
        animation-name: fadeIn;
        animation-duration: .5s;
        animation-fill-mode: both;
    }
}

// main
#wrap {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    // height: fill-available;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: both;
}

.main-wrap {
    position: relative;
    padding-left: 3rem;
    @media only screen and (max-width: 960px) {
        padding-left: 0;
    }
}

.main-inside {
    position: relative;
    background-color: #fff;
    @media only screen and (max-width: 960px) {
        padding-top: 4rem;
    }
    @media only screen and (max-width: 480px) {
        padding-top: 3rem;
    }
}

.main-head {
    margin-bottom: 2rem;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-delay: .75s;
    animation-fill-mode: both;
    h1 {
        line-height: 1.5;
        font-size: 3rem;
        font-weight: bold;
        color: #FFF;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    h2 {
        font-size: 1rem;
        color: var(--c1);
    }
    p {
        max-width: 40rem;
        line-height: 1.7;
        font-size: 0.875rem;
        span {
            display: block;
        }
        strong {
            color: var(--red);
        }
    }
    @media only screen and (max-width: 960px) {
        animation-name: fadeIn_t;
    }
    @media only screen and (max-width: 768px) {
        margin-bottom: 1rem;
        h1 {
            line-height: 3rem;
            font-size: 2rem;
        }
    }
    @media only screen and (max-width: 480px) {
        h1 {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

.main-center {
    position: relative;
    width: calc(100% - 4rem);
    max-width: 60rem;
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0 auto;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.main-bottom {
    text-align: right;
    padding-top: 1rem;
    > a {
        display: inline-block;
        font-size: .875rem;
        color: var(--black);
        margin-left: 1rem;
        transition: color .2s;
        &::before {
            content: '[ ';
        }
        &::after {
            content: ' ]';
        }
        &:hover {
            color: var(--c1);
        }
    }
    @media only screen and (max-width: 480px) {
        text-align: center;
    }
}

.pages-wrap {
    position: relative;
    padding: 8rem 4rem;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    .is-about & {
        padding: 14rem 4rem 5rem;
    }
    @media only screen and (max-width: 768px) {
        padding: 6rem 2rem 4rem;
        &.page-about {
            padding: 10rem 2rem 4rem;
        }
    }
    @media only screen and (max-width: 480px) {
        padding: 4rem 1rem;
        &.page-about {
            padding: 8rem 1rem 4rem;
        }
    }
}

.pages-title {
    padding-top: 2rem;
    h2 {
        font-size: 1.25em;
        margin-bottom: 1rem;
    }
    @media only screen and (max-width: 480px) {
        padding-top: 1rem;
    }
}

// tabs
.tabs-head {
    margin-bottom: 1rem;
    li {
        display: inline-block;
        vertical-align: middle;
        list-style-type: none;
        line-height: 1.5rem;
        font-size: 0.875rem;
        color: #CCC;
        button {
            height: 1.5rem;
            line-height: 1.5rem;
            font-size: 0.875rem;
            color: var(--black);
            background-color: transparent;
            border: 0;
            padding: 0;
            &.is-active {
                color: var(--c1);
            }
        }
        &::after {
            content: '|';
            color: var(--black);
            margin: 0 .5rem;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        li {
            button {
                width: auto;
            }
        }
    }
}

// no-results
.no-results {
    p {
        font-size: 0.875rem;
        color: #999;
    }
}

// icon
.icon {
    &::before {
        content: '';
        background-color: #EEE;
        background-size: 60% auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        text-align: center;
        font-size: 0.75em;
        font-style: normal;
        padding: 0.5rem 0;
    }
    &.icon-html {
        &::before {
            background-image: url("/images/icon/html.png");
        }
        &::after {
            content: 'HTML';
        }
    }
    &.icon-html5 {
        &::before {
            background-image: url("/images/icon/html5.png");
        }
        &::after {
            content: 'HTML5';
        }
    }
    &.icon-haml {
        &::before {
            background-image: url("/images/icon/haml.png");
        }
        &::after {
            content: 'HAML';
        }
    }
    &.icon-pug {
        &::before {
            background-image: url("/images/icon/pug.png");
        }
        &::after {
            content: 'Pug';
        }
    }
    &.icon-svg {
        &::before {
            background-image: url("/images/icon/svg.png");
        }
        &::after {
            content: 'SVG';
        }
    }
    &.icon-css {
        &::before {
            background-image: url("/images/icon/css.png");
        }
        &::after {
            content: 'CSS';
        }
    }
    &.icon-css3 {
        &::before {
            background-image: url("/images/icon/css3.png");
        }
        &::after {
            content: 'CSS3';
        }
    }
    &.icon-sass {
        &::before {
            background-image: url("/images/icon/sass.png");
        }
        &::after {
            content: 'Sass / SCSS';
        }
    }
    &.icon-stylus {
        &::before {
            background-image: url("/images/icon/stylus.png");
        }
        &::after {
            content: 'Stylus';
        }
    }
    &.icon-less {
        &::before {
            background-image: url("/images/icon/less.png");
        }
        &::after {
            content: 'Less';
        }
    }
    &.icon-tailwindcss {
        &::before {
            background-image: url("/images/icon/tailwindcss.png");
        }
        &::after {
            content: 'Tailwind CSS';
        }
    }
    &.icon-javascript {
        &::before {
            background-image: url("/images/icon/javascript.png");
        }
        &::after {
            content: 'JavaScript';
        }
    }
    &.icon-jquery {
        &::before {
            background-image: url("/images/icon/jquery.png");
        }
        &::after {
            content: 'jQuery';
        }
    }
    &.icon-api {
        &::before {
            background-image: url("/images/icon/api.png");
        }
        &::after {
            content: 'api';
        }
    }
    &.icon-typescript {
        &::before {
            background-image: url("/images/icon/typescript.png");
        }
        &::after {
            content: 'TypeScript';
        }
    }
    &.icon-gulp {
        &::before {
            background-image: url("/images/icon/gulp.png");
        }
        &::after {
            content: 'Gulp';
        }
    }
    &.icon-nodejs {
        &::before {
            background-image: url("/images/icon/nodejs.png");
        }
        &::after {
            content: 'NodeJS';
        }
    }
    &.icon-yarn {
        &::before {
            background-image: url("/images/icon/yarn.png");
        }
        &::after {
            content: 'Yarn';
        }
    }
    &.icon-vue {
        &::before {
            background-image: url("/images/icon/vue.png");
        }
        &::after {
            content: 'VUE';
        }
    }
    &.icon-nuxt {
        &::before {
            background-image: url("/images/icon/nuxtjs.png");
        }
        &::after {
            content: 'Nuxt';
        }
    }
    &.icon-vite {
        &::before {
            background-image: url("/images/icon/vite.png");
        }
        &::after {
            content: 'Vite';
        }
    }
    &.icon-vuex {
        &::before {
            background-image: url("/images/icon/vuex.png");
        }
        &::after {
            content: 'Vuex';
        }
    }
    &.icon-vuetify {
        &::before {
            background-image: url("/images/icon/vuetify.png");
        }
        &::after {
            content: 'Vuetify';
        }
    }
    &.icon-react {
        &::before {
            background-image: url("/images/icon/react.png");
        }
        &::after {
            content: 'React';
        }
    }
    &.icon-angular {
        &::before {
            background-image: url("/images/icon/angular.png");
        }
        &::after {
            content: 'Angular';
        }
    }
    &.icon-ajax {
        &::before {
            background-image: url("/images/icon/ajax.png");
        }
        &::after {
            content: 'AJAX';
        }
    }
    &.icon-adobe-ps {
        &::before {
            background-image: url("/images/icon/adobe-ps.png");
        }
        &::after {
            content: 'Photoshop';
        }
    }
    &.icon-adobe-ai {
        &::before {
            background-image: url("/images/icon/adobe-ai.png");
        }
        &::after {
            content: 'Illustrator';
        }
    }
    &.icon-adobe-ae {
        &::before {
            background-image: url("/images/icon/adobe-ae.png");
        }
        &::after {
            content: 'After Effects';
        }
    }
    &.icon-adobe-xd {
        &::before {
            background-image: url("/images/icon/adobe-xd.png");
        }
        &::after {
            content: 'XD';
        }
    }
    &.icon-figma {
        &::before {
            background-image: url("/images/icon/figma.png");
        }
        &::after {
            content: 'Figma';
        }
    }
    &.icon-git {
        &::before {
            background-image: url("/images/icon/git.png");
        }
        &::after {
            content: 'Git';
        }
    }
    &.icon-vscode {
        &::before {
            background-image: url("/images/icon/vscode.png");
        }
        &::after {
            content: 'VS Code';
        }
    }
    &.icon-sublime {
        &::before {
            background-image: url("/images/icon/sublime.png");
        }
        &::after {
            content: 'Sublime Text';
        }
    }
    &.icon-eagle {
        &::before {
            background-image: url("/images/icon/eagle.png");
        }
        &::after {
            content: 'Sublime Text';
        }
    }
}

// popup
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .7);
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: forward;
}

.popup-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border: 0;
    svg {
        display: block;
        width: 2rem;
        fill: #EEE;
        margin: 0 auto;
        transition: all .3s ease;
    }
    &:hover {
        svg {
            fill: var(--c1);
        }
    }
    @media only screen and (max-width: 960px) {
        width: 4rem;
        height: 4rem;
        background-color: var(--black);
    }
    @media only screen and (max-width: 480px) {
        width: 3rem;
        height: 3rem;
        svg {
            width: 1.5rem;
        }
    }
}

// 動畫
.fade-up {
    animation-name: fadeUp;
    animation-duration: .5s;
    animation-fill-mode: both;
}