.mountains-overflow {
    @media only screen and (max-width: 960px) {
        border: 1px solid #E8E8E8;
        overflow-x: auto;
    }
}

.mountains-list {
    position: relative;
    min-height: 20rem;
    @media only screen and (max-width: 960px) {
        ul {
            min-width: 56rem;
        }
    }
    @media only screen and (max-width: 768px) {
        ul {
            min-width: 44rem;
        }
    }
}

.mountains-tb {
    position: sticky;
    top: 4.5rem;
    z-index: 5;
    display: flex;
    background-color: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.5rem;
    padding: .5rem 0 .5rem .75rem;
    p {
        flex: 1;
        min-width: 0;
        font-size: .875rem;
        color: #CCC;
        padding: 0 0.5rem;
        &.img {
            flex: 0 0 2rem;
        }
        &.name {
            flex: 0 0 10rem;
        }
        &.area {
            flex: 0 0 3.5rem;
        }
        &.area2 {
            flex: 0 0 10rem;
        }
        &.site,
        &.lv {
            flex: 0 0 4rem;
            text-align: center;
        }
        &.lv2 {
            flex: 0 0 5rem;
            text-align: center;
        }
        &.height {
            flex: 0 0 5rem;
            text-align: right;
        }
        &.distance {
            flex: 0 0 4rem;
            text-align: right;
        }
        &.ap,
        &.am,
        &.day,
        &.route,
        &.finish {
            flex: 0 0 3.5rem;
            text-align: center;
        }
    }
    @media only screen and (max-width: 960px) {
        top: 0;
        min-width: 56rem;
    }
    @media only screen and (max-width: 768px) {
        min-width: 44rem;
        p {
            &.name {
                flex: 1;
            }
            &.area,
            &.trail {
                display: none;
            }
        }
    }
}

.mountains-item {
    position: relative;
    display: block;
    list-style-type: none;
    background-color: #fcfcfc;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color .3s ease, box-shadow .3s ease;
    a {
        display: block;
        hgroup {
            position: relative;
            display: flex;
            align-items: center;
            align-content: center;
            padding: .25rem 3.5rem .25rem .75rem;
            figure {
                position: relative;
                flex: 0 0 2rem;
                height: 2rem;
                background-color: #EEE;
                border-radius: 0.25rem;
                overflow: hidden;
                span {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    transition: transform .2s;
                }
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 80%;
                    transform: translate(-50%, -50%);
                }
            }
            h2 {
                flex: 0 0 10rem;
                min-width: 0;
                line-height: 1.5rem;
                font-size: .875rem;
                font-weight: normal;
                color: var(--black);
                margin-bottom: 0;
                padding: 0 0.5rem;
                @include text-truncate;
            }
            p {
                flex: 1;
                min-width: 0;
                line-height: 1.5rem;
                font-size: 0.875rem;
                color: #555;
                padding: 0 0.5rem;
                @include text-truncate;
                span {
                    margin-right: 0;
                }
                &.area {
                    flex: 0 0 3.5rem;
                }
                &.area2 {
                    flex: 0 0 10rem;
                }
                &.site {
                    flex: 0 0 4rem;
                    text-align: center;
                    span {
                        &:last-child {
                            display: none;
                        }
                    }
                }
                &.height {
                    flex: 0 0 5rem;
                    text-align: right;
                }
                &.distance {
                    flex: 0 0 4rem;
                    text-align: right;
                }
                &.ap,
                &.am,
                &.day,
                &.route {
                    flex: 0 0 3.5rem;
                    text-align: center;
                }
                &.lv {
                    flex: 0 0 4rem;
                    text-align: center;
                }
                &.lv2 {
                    flex: 0 0 5rem;
                    text-align: center;
                }
            }
            i {
                position: absolute;
                top: 50%;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.5rem;
                height: 2rem;
                line-height: 2rem;
                text-align: center;
                font-size: 0.875em;
                transform: translateY(-50%);
                &.finished {
                    svg {
                        width: 1rem;
                        height: 1rem;
                        fill: var(--c1);
                    }
                }
            }
        }
        &:hover {
            background-color: #dedede;
        }
    }
    &:hover {
        z-index: 3;
        box-shadow: 0 0 8px 0 rgba(#999, .2);
    }
    @media only screen and (max-width: 768px) {
        overflow: visible;
        a {
            hgroup {
                h2 {
                    flex: 1;
                }
                p {
                    &.area,
                    &.trail {
                        display: none;
                    }
                }
            }
        }
    }
}

.route-icon {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    font-size: 1em;
    &.r-1 {
        &::before {
            content: '→';
        }
    }
    &.r-2 {
        &::before {
            content: '';
            width: 1rem;
            height: 1rem;
            border: 1px solid #BBB;
            border-radius: 100%;
        }
    }
    &.r-3 {
        &::before {
            content: '';
            width: 1rem;
            height: 6px;
            border-top: 1px solid #BBB;
            border-bottom: 1px solid #BBB;
        }
    }
}

.hikingbook-tips {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 1rem;
    .checkbox {
        display: flex;
        gap: .5rem;
        font-size: 0.875rem;
        label {}
    }
    p {
        text-align: right;
        font-size: 0.875em;
    }
    @media only screen and (max-width: 480px) {
        p {
            position: absolute;
            top: 1.5rem;
            right: 0;
            font-size: 0.75em;
        }
    }
}

.mountains-container {
    padding: 5rem 2rem;
    @media only screen and (max-width: 768px) {
        padding-top: 4rem;
    }
    @media only screen and (max-width: 480px) {
        padding: 2rem 1rem;
    }
}

.mountains-content {
    max-width: 60rem;
    min-height: 40rem;
    margin: 0 auto;
}

.mountains-info {
    display: block;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: both;
    figure {
        position: relative;
        height: 25rem;
        background-color: #ddd;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        overflow: hidden;
        pointer-events: none;
        &::before {
            content: '';
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-image: url("/images/mountains/default.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 10rem auto;
        }
        span {
            position: relative;
            z-index: 1;
            display: block;
            height: 100%;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
            animation-name: mt_zoomIn;
            animation-duration: 20s;
            animation-direction: alternate;
            animation-fill-mode: both;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
    hgroup {
        flex: 1;
        background-color: #fafafa;
        border-radius: 0.5rem;
        padding: 2rem;
        li {
            display: flex;
            position: relative;
            list-style-type: none;
            line-height: 1.5;
            font-size: 0.875rem;
            color: #AAA;
            padding: 0.25rem 0;
            span {
                margin-right: .75rem;
                &:first-child {
                    flex: 0 0 auto;
                    margin-right: 1rem;
                }
                &:last-child {
                    color: var(--black);
                    margin-right: 0;
                }
            }
            a {
                color: var(--href);
                &.article {
                    &::before {
                        content: '〈 ';
                    }
                    &::after {
                        content: ' 〉';
                    }
                    &:empty {
                        &::before,
                        &::after {
                            display: none;
                        }
                    }
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    h1 {
        font-size: 2rem;
        font-weight: bold;
        color: var(--c1);
        margin-bottom: 1rem;
    }
    h6 {
        line-height: 1.7;
        font-size: 0.875rem;
        color: var(--vlack);
        margin-bottom: 1rem;
    }
    @media only screen and (max-width: 768px) {
        figure {
            height: 20rem;
            &::before {
                background-size: 8rem auto;
            }
        }
        h1 {
            font-size: 1.5rem;
        }
    }
    @media only screen and (max-width: 480px) {
        h1 {
            font-size: 1.25rem;
        }
        figure {
            height: 15rem;
            margin-top: 0.5rem;
            &::before {
                background-size: 6rem auto;
            }
            span {
                display: block;
            }
            p {
                position: relative;
            }
        }
        hgroup {
            padding: 1rem;
        }
    }
}

// routes
.routes-list {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0;
    white-space: nowrap;
    overflow-x: auto;
    @include scrollbar;
}

.routes-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    &:first-child {
        .routes-box {
            margin-left: 0;
            &::before {
                display: none;
            }
        }
    }
}

.routes-box {
    position: relative;
    text-align: center;
    margin-left: 3rem;
    &::before {
        content: '．．．';
        position: absolute;
        top: 2rem;
        left: -3rem;
        display: block;
        width: 3rem;
        letter-spacing: -.5rem;
        text-align: center;
        font-size: 1rem;
        color: #DDD;
    }
    b {
        display: block;
        line-height: 1.5rem;
        margin-bottom: 0.5rem;
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 1rem;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            color: #999;
            opacity: 0.4;
        }
        &.is-start {
            &::before {
                background-image: url('/images/routes_start_icon.svg');
            }
        }
        &.is-mountain {
            &::before {
                background-image: url('/images/routes_mountain_icon.svg');
            }
        }
        &.is-house {
            &::before {
                background-image: url('/images/routes_house_icon.svg');
            }
        }
        &.is-camp {
            &::before {
                background-image: url('/images/routes_camp_icon.svg');
            }
        }
        &.is-lake {
            &::before {
                background-image: url('/images/routes_lake_icon.svg');
            }
        }
        &.is-mark {
            &::before {
                background-image: url('/images/routes_mark_icon.svg');
            }
        }
        &.is-nature {
            &::before {
                background-image: url('/images/routes_nature_icon.svg');
            }
        }
        &.is-goal {
            &::before {
                background-image: url('/images/routes_goal_icon.svg');
            }
        }
    }
    p {
        line-height: 1.5;
        font-size: 0.875rem;
    }
    span {
        display: block;
        font-size: 0.75rem;
        color: #999;
    }
}